.wrapper {
  display: flex;
  margin-right: 40px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #034993;
  margin-bottom: 20px;

  padding-left: 20px;
}
.formWrap {
  margin-right: 40px;
  margin-top: 54px;
}
.contactsTitle {
  font-size: 28px;
  font-weight: 800;
  color: #034993;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}
